/*
* Copyright 2025. All Rights reserved.
* DILARANG MENYALIN, MENGUBAH, MENGGUBAH, MEMODIFIKASI KODE CSS INI.
*/


/* MAIN PADDING */

main {
    margin-top: 40px;
}


/* HEADER */

header {
    position: relative;
    background: url('../image/header.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

header .container {
    margin-top: -5%;
    max-width: 70%;
}

header .container .image-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header .container .image-container img {
    max-width: 300px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

header .toUp {
    animation: toUp 0.5s linear;
}

header .toDown {
    animation: toDown 0.5s linear;
}

@keyframes toUp {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes toDown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}


/* SECTION[VIDEO] */

.video {
    margin-top: 40px;
    padding: 0 5%;
}

.video .description {
    margin-bottom: 30px;
}

.video .description h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.video .video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.video .video-container .video-card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.video .video-container .video-card .video-info {
    padding: 0 20px 20px;
}

.video .video-container .video-card h1 {
    font-weight: 600;
    margin-bottom: 5px;
}

.video .video-container .video-card p {
    font-size: 15px;
}

.video .video-container .video-card iframe {
    width: 100%;
    height: 315px;
}


/* RESPONSIVE */

@media (width<1025px) {
    header {
        height: auto;
    }
    header .container {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    header .container .image-container {
        flex-direction: column;
    }
    header .container .image-container img {
        max-width: 100%;
    }
    .video .video-container {
        grid-template-columns: repeat(1, 1fr);
    }
    @keyframes toUp {
        0% {
            transform: translateX(100px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes toDown {
        0% {
            transform: translateX(-100px);
        }
        100% {
            transform: translateX(0);
        }
    }
}